PORT = 8080
MONGODB_URI = mongodb+srv://Youtube:youtube_backend@cluster0.lmfrv3o.mongodb.net/
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = "FA3fNDQDuyfTGBhTFfMzeoLzfxsP2iO4DD7hcsxDPdU="
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = "gsoT4QnaRBpUc85+kkIth3Xkd+zfllDea42ua1qaAM0="
REFRESH_TOKEN_EXPIRY = 10d